.navbar {
  background-color: #677FE8;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.logo-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }

    li {
    cursor: pointer; 
  }

@media (max-width: 768px) {
  flex-direction: column;
  position: absolute;
  top: 56px; // ⚠️ ajusta al alto de tu navbar
  right: 0;
  background-color: #677FE8;
  width: 100%;
  padding: 16px 24px;
  display: none;
  z-index: 100;
  opacity: 0.9;

  &.open {
    display: flex;
  }

  li {
    margin: 4px 50px;
  }
}


}

.navbar a,
.navbar li,
.navbar .logo {
  cursor: pointer;
}
